* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
#root {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#root {
  color: #666666;
  min-height: 100vh;
}

button {
  outline: none;
  cursor: pointer;
}

button:hover {
  opacity: 0.8;
}
